{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>SYM Movies</h1>

    <h2>Films à voir et à revoir :</h2>
    {% if films is defined and films != null %}
        {% for item in films %}
            <h3>{{ item.titre }}</h3>
            <ul>
                <li>{{ item.genre }}</li>
                <li>{{ item.dateSortie ? item.dateSortie|date('d/m/Y') : 'Date inconnue' }}</li>
            </ul>

            {% if not is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_landing_favoris', {id: item.id }) }}">
                    j'aime !
                </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_landing_delete', {id: item.id }) }}">
                supprimer
            </a>
            <a href="{{ path('app_landing_edit', {id: item.id }) }}">
                éditer
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_landing_new') }}">
        Ajouter un film
    </a>
{% endif %}

{% endblock %}
